<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ORU">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0056431 -0.0032971 -0.04149"
        rpy="0 0 0" />
      <mass
        value="0.59113" />
      <inertia
        ixx="0.0019736"
        ixy="-6.841E-07"
        ixz="-2.9722E-06"
        iyy="0.00093027"
        iyz="4.2751E-07"
        izz="0.0028176" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ORU/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ORU/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>